{% macro filterForm(filterForm, actionUrl, resetUrl, searchText, page, productFilterCountData, priceRange) %}
    {{ form_start(filterForm, { action: actionUrl }) }}
        {% form_theme filterForm 'Front/Content/Product/filterFormTheme.html.twig' %}

        {% set isSearch = page == 'search' %}

        {% set defaultOpened = false %}

        {% if defaultOpened %}
            {% set defualtTitleClass = 'active' %}
            {% set defualtInputStyle = 'display: block;' %}
        {% else %}
            {% set defualtTitleClass = '' %}
            {% set defualtInputStyle = 'display: none;' %}
        {% endif %}

        {% if isSearch %}
            <input
                type="hidden"
                name="{{ constant('App\\Controller\\Front\\ProductController::SEARCH_TEXT_PARAMETER') }}"
                value="{{ searchText|escape('html_attr') }}"
            />
        {% endif %}

        <div class="box-filter__price js-product-filter-parameter" data-parameter-filter-form-id="parameter_price">
            <span class="box-filter__choice__title {{ defualtTitleClass }} js-product-filter-parameter-label">
                {{ 'Price'|trans }}
                <i class="svg svg-arrow js-product-filter-toggle-arrow cursor-pointer"></i>
            </span>
            <div id="parameter_price" class="box-filter__slider__wrap" style="{{ defualtInputStyle }}">
                <div
                class="box-filter__slider__wrap__range js-range-slider"
                data-minimum-input-id="{{ filterForm.minimalPrice.vars.id }}"
                data-minimal-value="{{ priceRange.minimalPrice|moneyFormat }}"
                data-maximum-input-id="{{ filterForm.maximalPrice.vars.id }}"
                data-maximal-value="{{ priceRange.maximalPrice|moneyFormat }}"
                ></div>
                <div class="box-filter__price__item">
                    {{ form_widget(filterForm.minimalPrice, {
                        symbolAfterInput: currencySymbolByDomainId(getDomain().id),
                        attr: { class: 'js-product-filter-call-change-after-reset', placeholder:priceRange.minimalPrice|price }
                    }) }}

                </div>
                <div class="box-filter__price__item box-filter__price__item--text">
                    {{ 'to'|trans }}
                </div>
                <div class="box-filter__price__item box-filter__price__item--right">
                    {{ form_widget(filterForm.maximalPrice, {
                        symbolAfterInput: currencySymbolByDomainId(getDomain().id),
                        attr: { class: 'js-product-filter-call-change-after-reset', placeholder:priceRange.maximalPrice|price}
                    }) }}
                </div>
            </div>
        </div>

        <div class="box-filter__choice js-product-filter-parameter" data-parameter-filter-form-id="parameter_availability">
            <span class="box-filter__choice__title {{ defualtTitleClass }} js-product-filter-parameter-label">
                {{ 'Availability'|trans }}
                <i class="svg svg-arrow js-product-filter-toggle-arrow cursor-pointer"></i>
            </span>
            <div class="box-filter__choice__inputs" id="parameter_availability" style="{{ defualtInputStyle }}">
                <label class="form-choice">
                    <span class="form-choice__input">
                        {{ form_widget(filterForm.inStock) }}
                    </span>
                    <span class="form-choice__label">
                        {{ 'Products in stock only'|trans }}
                        {% if productFilterCountData is not null %}
                            <span
                                class="js-product-filter-count"
                                data-form-id="{{ filterForm.inStock.vars.id }}"
                            >
                                ({{ productFilterCountData.countInStock }})
                            </span>
                        {% endif %}
                    </span>
                </label>
            </div>
        </div>

        {% if filterForm.flags is empty %}
            {% do filterForm.flags.setRendered %}
        {% else %}
            <div class="box-filter__choice js-product-filter-parameter" data-parameter-filter-form-id="{{ filterForm.flags.vars.id }}">
                <span class="box-filter__choice__title {{ defualtTitleClass }} js-product-filter-parameter-label">
                    {{ 'Flags'|trans }}
                    <i class="svg svg-arrow js-product-filter-toggle-arrow cursor-pointer"></i>
                </span>
                <div class="box-filter__choice__inputs" id="{{ filterForm.flags.vars.id }}" style="{{ defualtInputStyle }}">
                    {% for flagForm in filterForm.flags %}
                        <label class="form-choice">
                            <span class="form-choice__input">
                                {{ form_widget(flagForm) }}
                            </span>
                            <span class="form-choice__label">
                                {{ flagForm.vars.label }}
                                {% if productFilterCountData is not null %}
                                    <span
                                        class="js-product-filter-count"
                                        data-form-id="{{ flagForm.vars.id }}"
                                    >
                                        {% if not flagForm.vars.checked %}
                                            ({% if filterForm.flags.vars.data is not empty %}+{% endif %}{{ productFilterCountData.countByFlagId[flagForm.vars.value]|default(0) }})
                                        {% endif %}
                                    </span>
                                {% endif %}
                            </span>
                        </label>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if filterForm.brands is empty %}
            {% do filterForm.brands.setRendered %}
        {% else %}
            <div class="box-filter__choice js-product-filter-parameter" data-parameter-filter-form-id="{{ filterForm.brands.vars.id }}">
                <span class="box-filter__choice__title {{ defualtTitleClass }} js-product-filter-parameter-label">
                    {{ 'Brand'|trans }}
                    <i class="svg svg-arrow js-product-filter-toggle-arrow cursor-pointer"></i>
                </span>
                <div class="box-filter__choice__inputs" id="{{ filterForm.brands.vars.id }}" style="{{ defualtInputStyle }}">
                    {% for brandForm in filterForm.brands %}
                        <label class="form-choice">
                            {{ form_widget(brandForm, { attr: { class: 'form-choice__input'} }) }}
                            <span class="form-choice__label">
                                {{ brandForm.vars.label }}
                                {% if productFilterCountData is not null %}
                                    <span
                                        class="js-product-filter-count"
                                        data-form-id="{{ brandForm.vars.id }}"
                                    >
                                        {% set brandCount = productFilterCountData.countByBrandId[brandForm.vars.value]|default(0) %}
                                        {% if not brandForm.vars.checked %}
                                            ({% if filterForm.brands.vars.data is not empty and brandCount > 0 %}+{% endif %}{{ brandCount }})
                                        {% endif %}
                                    </span>
                                {% endif %}
                            </span>
                        </label>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if isSearch or filterForm.parameters is empty %}
            {% do filterForm.parameters.setRendered %}
        {% else %}
            <div class="box-filter__parameters">
                <div id="{{ filterForm.parameters.vars.id }}">
                    {% for parameterId, parameterForm in filterForm.parameters %}
                        <div class="box-filter__choice js-product-filter-parameter" data-parameter-filter-form-id="{{ parameterForm.vars.id }}">
                            <span class="box-filter__choice__title {{ defualtTitleClass }} js-product-filter-parameter-label">
                                {{ parameterForm.vars.label }}
                                <i class="svg svg-arrow js-product-filter-toggle-arrow cursor-pointer"></i>
                            </span>
                            <div class="box-filter__choice__inputs" id="{{ parameterForm.vars.id }}" style="{{ defualtInputStyle }}">
                                {% for parameterValueForm in parameterForm %}
                                    <label class="form-choice js-product-filter-parameter-value">
                                        <span class="form-choice__input">
                                            {{ form_widget(parameterValueForm) }}
                                        </span>
                                        <span class="form-choice__label">
                                            {{ parameterValueForm.vars.label }}
                                            {% if productFilterCountData is not null %}
                                                <span
                                                    class="js-product-filter-count"
                                                    data-form-id="{{ parameterValueForm.vars.id }}"
                                                >
                                                    {% if not parameterValueForm.vars.checked %}
                                                        (
                                                            {%- if parameterForm.vars.data is not empty %}+{% endif -%}
                                                            {{- productFilterCountData.countByParameterIdAndValueId[parameterId][parameterValueForm.vars.value]|default(0) -}}
                                                        )
                                                    {% endif %}
                                                </span>
                                            {% endif %}
                                        </span>
                                    </label>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="box-filter__action">

            <a class="btn js-product-filter-reset-button" href="{{ resetUrl }}">{{ 'Clear filter'|trans }}</a>
            {{ form_widget(filterForm.search, { label: 'View results'|trans, attr: {class: 'js-product-filter-show-result-button btn--primary' } }) }}
        </div>

    {{ form_end(filterForm) }}
{% endmacro %}
